.cards_wrapper {
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);

	.form {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		
	}
	

	.label {
		display: flex;
		position: inherit;
		padding: 20px;
		justify-content: center;
		color: #ffffff;
		font-family: sans-serif;
	}

	.form {
		padding: 25px;
		margin: 0 auto;
	}
	.btn_save{
		height: 40px;
		font-size: 16px;
	}

	.root {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 20px;

	}

}
