.root {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  word-break: normal;
  padding: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 60px;
  width: 200px;
  // border-bottom: green($color: #9bf3c7);

  &.done {
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

// .check{
//   position: absolute;
//   bottom: 0px;
// }
.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // padding: 6px 12px;
}

.isRemembered {

  .cardFront,
  .cardBack {
    text-decoration: line-through;

  }
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #1BB95E;
  color: white;
  transform: rotateY(180deg);
}


.icons {
  font-size: 26px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}