.footer_wrapper {
	margin: 0 auto;
	max-width: 1586px;
	height: 135px;
	background-color: #313030;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	height: 10vh;
}

.social_links_wrap {
	margin-left: auto;
	margin-right: 155px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.social_links {
	width: 33px;
	margin: 10px;

}
