.cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000;
    background-image: url(./img/office.jpeg);

    font-family: sans-serif;


    &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-image: linear-gradient(to top, rgba(12, 1, 22, 0.7), rgba(42, 138, 240, 0.7));

    }
    
    svg{
        max-width: 50%;
        display: block;
        margin: 0 auto;
        g{
            fill:red;
        }
    }

    .wrap {
        position: relative;
        z-index: 1;
    }

    .header {
        // background-color: rgba(12, 1, 22, 0.4);
        font-size: 68px;
        color: #fff;
        text-align: center;
        padding: 24px 0;
        letter-spacing: 1px;
    }

    .decr {

        color: rgb(252, 250, 250);
        margin-top: 0;
        padding: 15px 0 30px 0;
        font-size : 20px;
        line-height: 1.55 ;
    }
    
    .logo{
        display: block;
        margin: 0 auto;
        max-width: 20vh;
               
    }


}

